@import '../../../assets/styles/typography';
@import '../../../assets/styles/colors';

.emails-input {
    @include regular-text;

    height: 100%;
    padding: 8px;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid $color-gray-400;
    border-radius: 4px;

    .email-add-more {
        @include regular-text;

        display: inline-block;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
            color: $color-gray-400;
        }
    }
}
