.emails-input {
    @include regular-text;

    height: 96px;
    padding: 8px;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid $color-gray-400;
    border-radius: 4px;

    .email-list-item {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 4px;

        &.valid {
            padding: 0 8px;
            background-color: $color-blue-100;
            border-radius: 100px;
        }

        &.invalid {
            border-bottom: 1px dashed $color-red-500;
        }

        .email {
            padding-right: 5px;
        }

        .icon-remove {
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .email-add-more {
        @include regular-text;

        display: inline-block;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
            color: $color-gray-400;
        }
    }
}
